@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
:root {
    --cor4:#7B44F2;
    --cor3:#6B71F2;
    --cor2:#3DADF2;
    --cor1:#13DCF2;
    --cor0:#0CF2F2;
    --text:#000000d4;


}

body {
    background-image: linear-gradient(to right, var(--cor0), var(--cor1), var(--cor2), var(--cor3), var(--cor4));
    background-repeat: black no-repeat;
    background-size: cover;
    color: white;
    width:100%;
    margin: auto;
    font-variant: small-caps;
    overflow-x: auto;
    
}

header {
    background: url(img/background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 50px;
}

button {
    border-radius: 50px;
}


menu {
    width: 800px;
    text-align: center;
    margin: auto;
    padding: 0px;
    margin-top: 40px;
}

#mainmenu {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4));
    border: 1px solid black;
    border-left: none;
    border-right: none;
    width: 100%;
}


menu > a {
    display: inline-block;
    color: var(--text);
    background: white;
    font-family: 'Luckiest Guy', cursive;
    font-weight: lighter;
    font-size: 25px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    height: 1.5em;
    width: 8em; 
    border: 1px solid black;
    border-collapse: collapse;
}

.menu > a:hover {
    color: gold;
}

#hiddenres {
    display: none;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: bolder;
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}


#logo {
    text-align: center;
    margin: 50px;
    margin-top: 50px;
}


a {
    color: black;
    text-decoration: none;
}

a:hover, input:hover {
    color: var(--cor3);
}


img {
    padding-right: 10px;
}

div {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding: 0px;
    text-align: center;;
    
    
}

.padrao {
    background-color: white;
    text-align: left;
    padding: 10px;
    margin: 10px;
    display: inline-table;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 25px;
    color: var(--text);
    font-family: 'Luckiest Guy', cursive;
    font-variant: small-caps;
    font-size: 16px;

}

.box1 {
    text-align: left;
    margin: 0px;
    padding: 0px;
    height: 180px;
}

